/* These styles are loaded after the bootstrap styles */

html,
body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
   line-height: 1.5;
   display: flex;
   align-items: center;
   -webkit-font-smoothing: antialiased;
}

body * {
    box-sizing: border-box;
}

h1 {
    font-size: 5.75em;
    font-weight: 800;
    line-height: 1;
    position: relative;
    margin-top: 0;
    margin-bottom: 1em;
}

h1:after {
    position: absolute;
    content: "";
    width: 5rem;
    height: 6px;
    background: #FFE600;
    bottom: -3rem;
    left: 0;
}

h3 {
    margin-top: 7rem;
    margin-bottom: 1em;
    font-weight: 700;
}

h6 {
    margin-top: 2em;
}

p {
    line-height: 1.75;
}

a {
    color: currentColor;
    text-decoration: underline;
}

a:visited {
    color: currentColor;
}

.btn {
    background: #FFE600;
    padding: 0.75em 1.5em;
    font-size: 0.85rem;
    border: none;
    font-weight: 600;
    border-radius: 3px;
    text-decoration: none;
    transition: 100ms all linear;
}

.btn:hover {
    cursor: pointer;
    background: black;
    color: #FFE600;
    transition: 100ms all linear;
}

.btn:focus {
    outline: none;
}

.download-link {
    margin-top: 2.5em;
}

.celebration-gif {
    width: 100%;
    max-width: 480px;
}